# files that are intentionaly not tracked by git


# Executables
fsqlf
fsqlf.exe
wx_fsqlf
wx_fsqlf.exe

# Generated code
core/lex.yy.c
gui/license_text.h


#tmp backups
*~
*.swp

#archive for uploading
*.zip


# Temporary Folder
tmp
tmp/*
